In [110]:
import pandas as pd
import datetime as dt
import numpy as np
import seaborn as sns
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%config InlineBackend. figure_format = 'retina'

# data preprocessing

In [111]:
#path = '寫入.txt'
#f = open(path, 'w')
#print(all_data.info(), file=f)
#f.close()

In [112]:
# 匯入原始資料
all_data = pd.read_csv('sales_data.csv')

In [113]:
all_data.head(-1)

,Unnamed: 0.1,Unnamed: 0,顏色,單價,成本,系列,產品,訂單時間,會員,性別,年紀,廣告代號all,尺寸
0,0,0,NaN,643.195,394.800,系列4,產品4-1,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
1,1,1,NaN,391.510,225.365,系列4,產品4-2,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
2,2,2,watermelonred,713.930,416.185,系列4,產品4-3,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S
3,3,3,NaN,557.655,337.225,系列4,產品4-4,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
4,4,4,white,628.390,366.835,系列4,產品4-3,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
353218,353218,353218,NaN,575.750,403.025,系列207,產品207-35,2019-11-11T03:00:11,B_GSJ_83990,MALE,24.0,廣告_edmP_D,無
353219,353219,353219,NaN,575.750,403.025,系列207,產品207-35,2019-11-12T14:44:14,B_GSJ_25617,FEMALE,18.0,廣告_自然流量,無
353220,353220,353220,NaN,575.750,403.025,系列207,產品207-35,2019-11-13T09:37:06,B_GSJ_16318,FEMALE,24.0,廣告_自然流量,無
353221,353221,353221,NaN,575.750,403.025,系列207,產品207-35,2019-11-14T18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無
353222,353222,353222,NaN,575.750,403.025,系列207,產品207-35,2019-11-14T18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無

In [114]:
all_data = all_data[['顏色', '單價', '成本', '系列', '產品', '訂單時間', '會員', '性別', '年紀', '廣告代號all', '尺寸']]

In [115]:
print('資料表資訊：')
print('(rows, columns) = ' + str(all_data.shape))
print(all_data.info())
#print(all_data.columns)
# 此銷售資料有353224筆訂單資料、11個資料欄位，分別為 ['顏色', '單價', '成本', '系列', '產品', '訂單時間', '會員', '性別', '年紀', '廣告代號all', '尺寸']
#　['單價', '成本', '年紀']資料型態為float，其餘為 object

資料表資訊：
(rows, columns) = (353224, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353224 entries, 0 to 353223
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   顏色       278103 non-null  object
 1   單價       353224 non-null  float64
 2   成本       353224 non-null  float64
 3   系列       353224 non-null  object
 4   產品       353224 non-null  object
 5   訂單時間     353224 non-null  object
 6   會員       353224 non-null  object
 7   性別       317391 non-null  object
 8   年紀       343785 non-null  float64
 9   廣告代號all  353224 non-null  object
 10  尺寸       353224 non-null  object
dtypes: float64(3), object(8)
memory usage: 29.6+ MB
None

In [116]:
print(all_data.index)

RangeIndex(start=0, stop=353224, step=1)

In [117]:
print('字串欄位描述統計資料：')
describe_object = all_data.describe(include=[object])
describe_object
# 共有98561位會員
# 1051個系列，涵蓋了8076項產品
# 共有247種廣告來源
# 有353224筆資料，已經發現了有幾個欄位有缺失值
# 另外，訂單時間也歸為字串代表待會還要處理時間格式

字串欄位描述統計資料：

,顏色,系列,產品,訂單時間,會員,性別,廣告代號all,尺寸
count,278103,353224,353224,353224,353224,317391,353224,353224
unique,34,1051,8076,138461,98561,2,247,23
top,white,系列1,產品1-12,2019-05-31T14:05:17,B_GSJ_44493,FEMALE,廣告_自然流量,M
freq,61095,29137,8525,140,458,217747,144389,73651

In [118]:
print('訂單時間起迄:') 
duration = all_data['訂單時間'].sort_values()
duration.head(-1)
# 2016-01-01 - 2019-11-19

訂單時間起迄:

0         2016-01-01T03:19:35
1         2016-01-01T03:19:35
2         2016-01-01T03:19:35
3         2016-01-01T03:19:35
4         2016-01-01T03:19:35
                 ...
103313    2019-11-18T18:14:41
103315    2019-11-18T18:16:52
103316    2019-11-18T18:16:52
103317    2019-11-18T18:18:01
346353    2019-11-18T18:49:38
Name: 訂單時間, Length: 353223, dtype: object

In [119]:
print('數值欄位描述統計資料：')
describe_numeric = all_data.describe()
describe_numeric = describe_numeric.astype(int)
describe_numeric
# 數值欄位部分

數值欄位描述統計資料：

           單價      成本      年紀
count  353224  353224  343785
mean      897     444      31
std       303     164      16
min         0      16       0
25%       787     376      26
50%       904     424      32
75%      1028     450      36
max     12995    5181    1944

In [120]:
print('欄位缺失值數量與比例：')
# 檢查缺失值
df_null = [all_data.isnull().sum()]
df_null = pd.DataFrame(df_null).transpose()
df_null = df_null.rename(columns={0:'num_null'})
df_null['佔%'] = round(100* (df_null['num_null']/len(all_data)),1)
# 得知性別與年紀資料缺失很多，分析顧客時怎麼處理？
df_null

欄位缺失值數量與比例：

         num_null    佔%
顏色          75121  21.3
單價              0   0.0
成本              0   0.0
系列              0   0.0
產品              0   0.0
訂單時間            0   0.0
會員              0   0.0
性別          35833  10.1
年紀           9439   2.7
廣告代號all         0   0.0
尺寸              0   0.0

# 資料格式轉換

In [121]:
all_data = pd.read_csv('sales_data.csv')
# 轉換時間格式，並新增年、月欄
all_data['訂單時間'] = pd.to_datetime(all_data['訂單時間'])
all_data['Year'] = all_data['訂單時間'].dt.to_period('Y')
all_data['Month'] = all_data['訂單時間'].dt.to_period('M')
all_data

,Unnamed: 0.1,Unnamed: 0,顏色,單價,成本,系列,產品,訂單時間,會員,性別,年紀,廣告代號all,尺寸,Year,Month
0,0,0,NaN,643.195,394.800,系列4,產品4-1,2016-01-01 03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無,2016,2016-01
1,1,1,NaN,391.510,225.365,系列4,產品4-2,2016-01-01 03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無,2016,2016-01
2,2,2,watermelonred,713.930,416.185,系列4,產品4-3,2016-01-01 03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S,2016,2016-01
3,3,3,NaN,557.655,337.225,系列4,產品4-4,2016-01-01 03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無,2016,2016-01
4,4,4,white,628.390,366.835,系列4,產品4-3,2016-01-01 03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S,2016,2016-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353219,353219,353219,NaN,575.750,403.025,系列207,產品207-35,2019-11-12 14:44:14,B_GSJ_25617,FEMALE,18.0,廣告_自然流量,無,2019,2019-11
353220,353220,353220,NaN,575.750,403.025,系列207,產品207-35,2019-11-13 09:37:06,B_GSJ_16318,FEMALE,24.0,廣告_自然流量,無,2019,2019-11
353221,353221,353221,NaN,575.750,403.025,系列207,產品207-35,2019-11-14 18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無,2019,2019-11
353222,353222,353222,NaN,575.750,403.025,系列207,產品207-35,2019-11-14 18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無,2019,2019-11
353223,353223,353223,NaN,575.750,403.025,系列207,產品207-35,2019-11-15 12:14:25,B_GSJ_04755,NaN,16.0,廣告_KBDG_MK,無,2019,2019-11

In [122]:
# 新增獲利欄、GPM欄、'累積數量'欄
all_data['獲利'] = all_data['單價'] - all_data['成本']
# 新增
all_data['GPM'] = round((all_data['獲利']/all_data['單價'])*100, 1)
# 
all_data['order_count'] = range(1, len(all_data)+1)
# 最後輸出所有預備使用的資料集
all_data.to_csv('new_all_data.csv')

# 資料格式與型態

In [123]:
# 每顧客出現的頻率
unique_custmer = ((pd.DataFrame(np.unique(all_data['會員'], return_counts=True))).transpose()).sort_values(1, ascending = False)
# unique_custmer = (all_data.groupby('會員', as_index = False)['產品'].count()).sort_values('產品', ascending = False)
unique_custmer

                 0    1
44492  B_GSJ_44493  458
26599  B_GSJ_26600  308
79304  B_GSJ_79305  196
40784  B_GSJ_40785  155
62521  B_GSJ_62522  109
...            ...  ...
76900  B_GSJ_76901    1
76898  B_GSJ_76899    1
76897  B_GSJ_76898    1
34191  B_GSJ_34192    1
30540  B_GSJ_30541    1

[98561 rows x 2 columns]