In [ ]:
import pandas as pd
import datetime as dt
import numpy as np
import seaborn as sns
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%config InlineBackend. figure_format = 'retina'

# data preprocessing

In [ ]:
all_data = pd.read_csv('sales_data.csv')

In [ ]:
all_data.head(-1)

,Unnamed: 0.1,Unnamed: 0,顏色,單價,成本,系列,產品,訂單時間,會員,性別,年紀,廣告代號all,尺寸
0,0,0,NaN,643.195,394.800,系列4,產品4-1,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
1,1,1,NaN,391.510,225.365,系列4,產品4-2,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
2,2,2,watermelonred,713.930,416.185,系列4,產品4-3,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S
3,3,3,NaN,557.655,337.225,系列4,產品4-4,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,無
4,4,4,white,628.390,366.835,系列4,產品4-3,2016-01-01T03:19:35,B_GSJ_06674,FEMALE,32.0,廣告_YND_pid,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
353218,353218,353218,NaN,575.750,403.025,系列207,產品207-35,2019-11-11T03:00:11,B_GSJ_83990,MALE,24.0,廣告_edmP_D,無
353219,353219,353219,NaN,575.750,403.025,系列207,產品207-35,2019-11-12T14:44:14,B_GSJ_25617,FEMALE,18.0,廣告_自然流量,無
353220,353220,353220,NaN,575.750,403.025,系列207,產品207-35,2019-11-13T09:37:06,B_GSJ_16318,FEMALE,24.0,廣告_自然流量,無
353221,353221,353221,NaN,575.750,403.025,系列207,產品207-35,2019-11-14T18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無
353222,353222,353222,NaN,575.750,403.025,系列207,產品207-35,2019-11-14T18:34:45,B_GSJ_77300,NaN,28.0,廣告_KBDG_MK,無

In [ ]:
print(all_data.info())
print(all_data.shape)
print(all_data.columns)
# 此銷售資料有353223筆資料、13個欄位，分別為['Unnamed: 0.1', 'Unnamed: 0', '顏色', '單價', '成本', '系列', '產品', '訂單時間', '會員', '性別', '年紀', '廣告代號all', '尺寸']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353224 entries, 0 to 353223
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0.1  353224 non-null  int64
 1   Unnamed: 0    353224 non-null  int64
 2   顏色            278103 non-null  object
 3   單價            353224 non-null  float64
 4   成本            353224 non-null  float64
 5   系列            353224 non-null  object
 6   產品            353224 non-null  object
 7   訂單時間          353224 non-null  object
 8   會員            353224 non-null  object
 9   性別            317391 non-null  object
 10  年紀            343785 non-null  float64
 11  廣告代號all       353224 non-null  object
 12  尺寸            353224 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 35.0+ MB
None
(353224, 13)
Index(['Unnamed: 0.1', 'Unnamed: 0', '顏色', '單價', '成本', '系列', '產品', '訂單時間',
       '會員', '性別', '年紀', '廣告代號all', '尺寸'],
      dtype='object')

In [ ]:
# 轉換時間格式
all_data['訂單時間'] = pd.to_datetime(all_data['訂單時間'])

In [ ]:
# Unnamed: 0.1與Unnamed: 0 用不到
all_data = all_data[['顏色', '單價', '成本', '系列', '產品', '訂單時間', '會員', '性別', '年紀', '廣告代號all', '尺寸']]

In [ ]:
# 新增年、月欄
all_data['Year'] = all_data['訂單時間'].dt.to_period('Y')
all_data['Month'] = all_data['訂單時間'].dt.to_period('M')
# 新增獲利欄
all_data['獲利'] = all_data['單價'] - all_data['成本']
# 新增GPM欄
all_data['GPM'] = round((all_data['獲利']/all_data['單價'])*100, 1)
# '累積數量'欄
all_data['order_count'] = range(1, len(all_data)+1)
# 最後輸出所有預備使用的資料集
all_data.to_csv('new_all_data.csv')

# 資料格式與型態

In [ ]:
# 檢查缺失值
df_null = [all_data.isnull().sum()]
df_null = pd.DataFrame(df_null).transpose()
df_null = df_null.rename(columns={0:'num_null'})
# 得知性別與年紀資料缺失很多，分析顧客時怎麼處理？
df_null

         num_null
顏色          75121
單價              0
成本              0
系列              0
產品              0
訂單時間            0
會員              0
性別          35833
年紀           9439
廣告代號all         0
尺寸              0
Year            0
Month           0
獲利              0
GPM             0

In [ ]:
# 共有98561位顧客
# unique characters + sort + count = groupby + 任意一完整欄.count()
len(np.unique(all_data['會員']))

98561

In [ ]:
# 每顧客出現的頻率
unique_custmer = ((pd.DataFrame(np.unique(all_data['會員'], return_counts=True))).transpose()).sort_values(1, ascending = False)
# unique_custmer = (all_data.groupby('會員', as_index = False)['產品'].count()).sort_values('產品', ascending = False)
unique_custmer

                 0    1
44492  B_GSJ_44493  458
26599  B_GSJ_26600  308
79304  B_GSJ_79305  196
40784  B_GSJ_40785  155
62521  B_GSJ_62522  109
...            ...  ...
76900  B_GSJ_76901    1
76898  B_GSJ_76899    1
76897  B_GSJ_76898    1
34191  B_GSJ_34192    1
30540  B_GSJ_30541    1

[98561 rows x 2 columns]

In [ ]:
# 時間起迄 2016-01-01 - 2019-11-19
all_data['訂單時間'].sort_values()

0        2016-01-01 03:19:35
1        2016-01-01 03:19:35
2        2016-01-01 03:19:35
3        2016-01-01 03:19:35
4        2016-01-01 03:19:35
                 ...
103315   2019-11-18 18:16:52
103316   2019-11-18 18:16:52
103317   2019-11-18 18:18:01
346353   2019-11-18 18:49:38
342645   2019-11-19 00:28:46
Name: 訂單時間, Length: 353224, dtype: datetime64[ns]

In [ ]:
# 資料描述
all_data.describe()

                  單價             成本             年紀             獲利       GPM
count  353224.000000  353224.000000  343785.000000  353224.000000  353224.0
mean      897.967933     444.462338      31.772748     453.505595      -inf
std       303.845481     164.905703      16.998799     192.090723       NaN
min         0.000000      16.450000       0.000000    -789.600000      -inf
25%       787.955000     376.705000      26.000000     342.160000      45.7
50%       904.750000     424.410000      32.000000     452.375000      51.9
75%      1028.125000     450.730000      36.000000     569.170000      56.3
max     12995.500000    5181.750000    1944.000000    7813.750000      98.9